* {
    box-sizing: inherit;
}

:root,
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.wrapper {
    align-items: center;
    align-content: center;
    justify-content: space-around;
    display: flex;
    min-height: 85vh;
}

.room {
    text-align: center;
}

.name {
    font-size: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.gauge {
    line-height: 1.2;
}

.label {

}

.temperature .label {
    display: none;
    /*display: block;*/
    margin-bottom: 0.25em;
}

.value {

}

.temperature .value {
    font-size: 3em;
    display: block;
    margin-bottom: 0.5em;
}

.humidity {

}

.temperature {

}
