* {
    box-sizing: inherit;
}

:root,
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.wrapper {

}

.messages {

}

.error {
    background: rgba(230, 20, 20, 0.3);
    border: medium solid rgba(230, 20, 20, 1);
    display: none;
    margin: 3rem auto;
    padding: 0.5em 1em;
    width: 80vw;
}

.error--is-visible {
    display: block;
}

.gauges {
    align-items: center;
    align-content: center;
    justify-content: space-around;
    display: flex;
    height: 100vh;
}

.room {
    text-align: center;
    width: 27vw
}

.name {
    font-size: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.gauge {
    line-height: 1.2;
}

.label {

}

.temperature .label {
    display: none;
    /*display: block;*/
    margin-bottom: 0.25em;
}

.value {

}

.temperature .value {
    font-size: 3em;
    display: block;
    margin-bottom: 0.5em;
}

.humidity {

}

.temperature {

}

.chart {
    height: 200px;
    margin-top: 4rem;
}
